---
layout: default
---

<div class="home">
  <p>
    Hi, hello, howdy 👋
  </p>
  <p>
    I'm Kaitlyn. I'm a software engineer based in London, currently looking for my next challenge. 
    Here you can <a href="https://krtierney.com/cv.pdf">check out my CV</a>, 
    <a href="https://krtierney.com/about/">learn more about my journey</a>, 
    and <a href="https://krtierney.com/talks/staff-plus-2023">bypass the LeadDev paywall to watch my recent conference talk, "A Librarian's Guide to Documentation"</a>.
  </p>
  <p>
    I'm open to a lot of different types of roles, including permanent or contract Senior or Staff Engineer roles. 
    Or if you're looking for someone to come in on a fixed-term contract to help solve problems, including documentation-related problems or team effectiveness, 
    I can certainly help with that too. Please get in touch if you'd like to discuss.
  </p>
</div>
