---
layout: default
---

<div class="home">
  <p>
    Hi, hello, howdy 👋
  </p>
  <p>
    I'm Kaitlyn. You might have ended up here after seeing me speak in June at 
    StaffPlus in London or at Brighton Ruby. If you're just after the slides from 
    that talk, you can download a <a href="https://krt-images.s3.eu-west-2.amazonaws.com/ktierney-librarian-tips-brighton-ruby.pdf">far-too-large full-res PDF</a>.
     If you need a different format, feel free to email me.
  </p>
  <p>
    Coincidentally, I'm also looking for work! I'm open to a lot of different types of roles, including permanent Senior or Staff Engineer roles.
    Or if you're looking for someone to come in on a fixed-term contract to help solve problems, including documentation-related problems or team effectiveness, I can certainly help with that too. Please get in touch.
  </p>
</div>
