---
layout: default
---

<div class="home">
  <p>
    Hi, hello, howdy 👋
  </p>
  <p>
    I'm Kaitlyn. Things are pretty quiet around here. I've been
     <a href="https://krtierney.art">keeping busy at the pottery studio</a>, 
    and learning what it means to be a 
    <a href="https://farewill.com/blog/introducing-farewills-engineering-progression-framework">staff engineer</a>.
  </p>
  <p>
    If there's anything I can help you with, 
    a well-considered email will usually prompt a response.
  </p>
</div>
